div{
    background-color: #ee81ee;
}
/* Navbar */

.nav-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
}

button{
    display: flex;
    justify-content: center;
    border-style: groove;
    background-color: goldenrod;
}

/* Footer styling */

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
}


.images{
    margin: 2%;
    list-style: none;
}

.footerText {
    display: flex;
    justify-content: center;
}

img {
    height: 100px;
    width: 100px;
}

/* Homepage */

.homepage{
    text-align: center;
    font-size: 50px;
    text-decoration:underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #4abde4;
    border-style: solid;
    border-radius: 125px;
}

/* .toolList {
    list-style-type: circle;
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #4abde4;
    border-radius: 45px;
    border-style:groove;
} */

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sliderImage {
    margin-bottom: 5%;
}

.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    border-style: solid;
    border-radius: 10%;
    background-color: #0cde8d;
    color: blue;
    border-color: #4abde4;
    margin-top: 2%;
    margin-bottom: 2%;
}




/* Contact Page */

form .form{
    display: block;
    width: 100%;
    margin: 20%;
    padding: auto;
}

input{
    width: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    border-radius: 10px;
    box-shadow: 15%;
    padding-left: 5%;
    margin-top: 2%;
}

.name{
    height: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    box-sizing: 30px;
    display: inline-block;
    margin-top: 2%;
}

.email{
    height: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    box-sizing: 30px;
    display: inline-block;
    margin-top: 2%;
}

.message{
    height: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    border-radius: 10px;
    box-sizing: 30px;
    display: inline-block;
    margin-top: 2%;
    padding: 75px
}

.message-title{
    display: flex;
    align-items: left;
    padding-top: 2%;
}

label{
    display: inline-block;
}

/* Portfolio page */

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
}

.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Resume page */

iframe{
    box-sizing: content-box;
    border-radius: 10px;
    box-shadow: #1f0336;
}

.resume-title{
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: #1f0336;
}

.resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Media query */
@media screen and (max-width: 700px) {
    .grid {
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 50px;
        padding: auto;
        display: flex;
        flex-direction: column;
    }

    .resume-container{
        width: 25%;
        height: 25%
    }

    .project-container{
        display: flex;
        flex-direction: column;
    }
  }

